<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
            <div class="field">
                <input type="text" id="first-name" placeholder="First Name" name="first-name"autoComplete="first-name" required />
            </div>
            <div>
                <input type="text" id="last-name" placeholder="Last Name" name="last-name" autoComplete="last-name" required />
            </div>
            <div class="field">
                <input type="email" id="email" placeholder="Email"name="email" autoComplete="email" required />
            </div>
            <div class="field">
                <input type="phone" id="phone" placeholder="Phone Number" name="phone" autoComplete="phone" required />
            </div>                
            <div class="field">
                <input type="company" id="company" placeholder="Company" name="company" autoComplete="company" required />
            </div>
            <div class="field">
            <textarea id="message" placeholder="Message"  name="message" rows="5" cols="33"></textarea>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>


</body>

</html>