<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head-imports.html' %}

</head>

<body>


    {{ post.html|safe }}
    {{ post.title }}
    {{ post.date }}
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">To Do App</h1>

        <form  action="/add" method="post">
            <div >
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo..."><br>
            </div>
            <div >
                <input type="text" id="first-name" placeholder="First Name" name="first-name" autoComplete="first-name"
                    required />
            </div>
            <div>
                <input type="text" id="last-name" placeholder="Last Name" name="last-name" autoComplete="last-name"
                    required />
            </div>
            <div >
                <input type="email" id="email" placeholder="Email" name="email" autoComplete="email" required />
            </div>
            <div >
                <input type="phone" id="phone" placeholder="Phone Number" name="phone" autoComplete="phone" required />
            </div>
            <div >
                <input type="company" id="company" placeholder="Company" name="company" autoComplete="company"
                    required />
            </div>
            <div >
                <textarea id="message" placeholder="Message" name="message" rows="5" cols="33"></textarea>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>
    </div>


</body>

</html>